<div class="form-box">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3 class="page-title">アカウント登録</h3>
    </div>
  </div>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="row">
          <div class="form-title col-md-4">
            <%= image_tag "noimage.png", size: "100x100", class: "prev-image user-icon", id: "preview-noimage" %>
            <%= f.label :profile_image %>
          </div>
          <%= f.attachment_field :profile_image, class: "form-field col-md-7 user-icon-select", id: "post-image" %>
        </div>

        <div class="row">
          <%= f.label :name, class: "form-title col-md-4" %>
          <%= f.text_field :name, autofocus: true, class: "form-field col-md-7" %>
        </div>

        <div class="row">
          <%= f.label :email, class: "form-title col-md-4" %>
          <%= f.email_field :email, autocomplete: "email", class: "form-field col-md-7" %>
        </div>

        <div class="row">
          <div class="form-title col-md-4">
            <%= f.label :introduction %>
            <p class="register-info">※後から登録できます</p>
            <p><span id="counter"></span>/100文字</p>
          </div>
          <%= f.text_area :introduction, size: "20x4", class: "form-field col-md-7", id: "input-text" %>
        </div>

        <div class="row">
          <div class="form-title col-md-4">
            <%= f.label :password %><br>
            <p class="register-info"><%= "(#{@minimum_password_length}文字以上)" %></p>
          </div>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-field col-md-7" %>
        </div>

        <div class="row">
          <%= f.label :password_confirmation, class: "form-title col-md-4" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-field col-md-7" %>
        </div>

        <div class="row">
          <%= f.submit "登録する", class: "btn btn-info col-md-5 offset-md-4", style: "margin-bottom:30px" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>