<% unless current_user == post.user %>
	<% if post.favorited_by?(current_user) %>
		<span id="favorite-<%= post.id %>">
			<%= link_to post_favorites_path(post), method: :delete, remote: true do %>
				<i class="fas fa-thumbs-up" aria-hidden="true" style="color: #e96e50;"></i>
			<% end %>
			<%= post.favorites.count %>
		</span>
	<% else %>
		<span id="favorite-<%= post.id %>">
			<%= link_to post_favorites_path(post), method: :post, remote: true do %>
				<i class="far fa-thumbs-up" aria-hidden="true" style="color: black;"></i>
			<% end %>
			<%= post.favorites.count %>
		</span>
	<% end %>
<% else %>
		<i class="fas fa-hand-holding-heart" aria-hidden="true"></i>
		<%= post.favorites.count %>
<% end %>
