<%= render "layouts/timer" %>

<div class="row">
	<div class="col-md-10 offset-md-1">
		<div class="row">
			<div class="col-md-3">
				<h3 class="index-page-title">ユーザー検索</h3>
			</div>
			<div class="col-md-9">
				<div class="row">
					<%= search_form_for(@q, url: users_path) do |f| %>
					<div class="col-md-9">
						<%= f.search_field :name_or_introduction_cont, class: "search-field", placeholder: "名前と自己紹介から検索されます" %>
					</div>
					<div class="col-md-2 offset-md-1">
						<%= f.submit "検索", class: "search-btn" %>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-10 offset-md-1">
		<div class="row">
			<div class="col-md-3">
				<h3 class="index-page-title">ヒトコト検索</h3>
			</div>
			<div class="col-md-9">
				<div class="row">
					<%= search_form_for(@search, as: :search, url: posts_path) do |f| %>
					<div class="col-md-9">
						<%= f.search_field :content_cont, class: "search-field", placeholder: "本文とタグ名から検索されます" %>
					</div>
					<div class="col-md-2 offset-md-1">
						<%= f.submit "検索", class: "search-btn" %>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<% @posts.each do |post| %>
	<div class="col-md-10 offset-md-1 post-index-box post-<%= post.id %>">
		<%= render "posts/post_detail", post: post %>
	</div>
	<% end %>
</div>
<%= render "layouts/pagination", data: @posts %>