<%= render "layouts/timer" %>

<div class="row">
	<div class="col-md-10 offset-md-1 search-box">
		<div class="row search-contents">
			<div class="col-md-3 offset-md-1">
				<h4 class="index-page-title">ユーザーを探す</h4>
			</div>
			<div class="col-md-6">
				<%= search_form_for(@q, url: users_path) do |f| %>
					<%= f.search_field :name_or_introduction_cont, size: "30x1", class: "search-field", placeholder: "名前と自己紹介から検索されます" %>
					<%= f.submit "検索", class: "search-btn" %>
				<% end %>
			</div>
			<div class="col-md-2 mt-1">
				<%= link_to "一覧で探す", users_path %>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-10 offset-md-1 search-box">
		<div class="row search-contents">
			<div class="col-md-3 offset-md-1">
				<h4 class="index-page-title">ヒトコトを探す</h4>
			</div>
			<div class="col-md-6">
				<%= search_form_for(@search, as: :search, url: posts_path) do |f| %>
					<%= f.search_field :content_cont, size: "30x1", class: "search-field", placeholder: "本文とタグ名から検索されます" %>
					<%= f.submit "検索", class: "search-btn" %>
				<% end %>
			</div>
			<div class="col-md-2 mt-1">
				<%= link_to "一覧で探す", posts_path %>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-10 offset-md-1 search-box">
		<div class="row">
			<div class="col-md-6 offset-md-3 mb-2">
				<h4 class="index-page-title tag-search-title">#人気のタグから探す</h4>
			</div>
		</div>
		<div id="tag-index">
			<%= render 'search/tag_index', collection: @tags %>
		</div>
	</div>
</div>
