<%= link_to user_path(user) do %>
	<%= attachment_image_tag(user, :profile_image, size: "60x60", fallback: "noimage.png", class: "user-icon") %>
	<span class="link-to-black"><%= user.name %></span>
<% end %>
<div class="btn-box">
	<% unless current_user == user %>
		<% if current_user.following?(user) %>
			<%= link_to "フォロー解除", unfollow_path(user), method: :delete, class: "btn btn-outline-primary" %>
		<% else %>
			<%= link_to "フォローする", follow_path(user), method: :post, class: "btn btn-primary" %>
		<% end %>
	<% else %>
		<%= link_to "ヒトコト投稿", new_post_path, class: "btn btn-outline-dark" %>
		<%= link_to "編集する", edit_user_path(current_user), class: "fas fa fa-edit link-to-black" %>
	<% end %>
</div>
<div class="col-md-11 offset-md-1"><%= simple_format(user.introduction) %></div>
