<%= render "layouts/timer" %>

<div class="form-box">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3 class="page-title">登録情報確認</h3>
    </div>
  </div>

  <%= render "devise/shared/error_messages", resource: @user %>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <%= form_for(@user) do |f| %>
        <div class="row">
          <div class="form-title col-md-4">
            <% if @user.profile_image_id == nil %>
              <%= image_tag "noimage.png", size: "100x100", class: "prev-image user-icon", id: "preview-noimage" %>
            <% else %>
              <%= image_tag call_user_img(@user), size: "100x100", class: "prev-image user-icon", id: "preview-image" %><br>
              <%= link_to "現在の写真を削除", delete_profile_image_path(@user), method: :patch, data: { confirm: '本当に削除してよろしいですか？'} %>
            <% end %>
            <%= f.label :profile_image %>
          </div>
          <%= f.attachment_field :profile_image, class: "form-field col-md-7 user-icon-select", id: "post-image" %>
        </div>

        <div class="row">
          <%= f.label :name, class: "form-title col-md-4" %>
          <%= f.text_field :name, autofocus: true, class: "form-field col-md-7" %>
        </div>

        <div class="row">
          <%= f.label :email, class: "form-title col-md-4" %>
          <%= f.email_field :email, autocomplete: "email", class: "form-field col-md-7" %>
        </div>

        <div class="row">
          <div class="form-title col-md-4">
            <%= f.label :introduction %>
            <p><span id="counter"></span>/100文字</p>
          </div>
          <%= f.text_area :introduction, size: "20x4", class: "form-field col-md-7", id: "input-text" %>
        </div>

        <div class="row">
          <%= f.submit "変更する", class: "btn btn-info col-md-5 offset-md-4" %>
        </div>

        <div class="row">
          <% if current_user.guest_user? %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-sm mt-5 btn-secondary col-md-5 offset-md-4", id: "sign-out" %>
          <% else %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-sm mt-5 btn-secondary col-md-3 offset-md-3", id: "sign-out" %>
            <%= link_to "退会する", user_registration_path, method: :delete, data: { confirm: '本当に退会しますか？' }, class: "btn btn-sm mt-5 btn-danger col-md-3 offset-md-1" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "layouts/redirect_back" %>
