<%= render "layouts/timer" %>

<div class="row">
	<div class="col-md-10 offset-md-1">
		<h3 class="page-title">一覧</h3>
	</div>
</div>

<div class="row">
	<% @users.each do |user| %>
	<div class="col-md-10 offset-md-1 user-index-box">
		<div class="row">
			<%= link_to user_path(user) do %>
				<%= attachment_image_tag(user, :profile_image, size: "60x60", fallback: "noimage.png") %>
			<% end %>
			<%= link_to user.name, user_path(user), class: "link" %>
			<% unless current_user == user %>
				<% if current_user.following?(user) %>
					<%= link_to "フォロー外す", unfollow_path(user), method: :delete, class: "btn btn-outline-primary btn-box" %>
				<% else %>
					<%= link_to "フォローする", follow_path(user), method: :post, class: "btn btn-primary btn-box" %>
				<% end %>
			<% end %>
		</div>
		<div class="col-md-11 offset-md-1"><%= user.introduction %></div>
	</div>
	<% end %>
</div>