<%= render "layouts/timer" %>

<div class="row">
	<div class="col-md-10 offset-md-1 user-index-box user-<%= @user.id %>">
		<%= render "users/user_index", user: @user %>
	</div>
</div>

<div class="row">
	<div class="col-md-10 offset-md-1 user-tab-box" id="user-boxes">
		<%= render "users/tab_boxes", user: @user %>
	</div>
</div>

<div class="tab-content active-content" id="tab1">
	<div class="row">
		<% @posts.each do |post| %>
			<div class="col-md-10 offset-md-1 post-index-box post-<%= post.id %>">
				<%= render "posts/post_detail", post: post %>
			</div>
		<% end %>
	</div>
	<%= render "layouts/pagination", data: @posts %>
</div>

<div class="tab-content" id="tab2">
	<div class="row">
		<% @following_users.each do |user| %>
			<div class="col-md-10 offset-md-1 user-index-box user-<%= user.id %>">
				<%= render "users/user_index", user: user %>
			</div>
		<% end %>
	</div>
	<%= render "layouts/pagination", data: @following_users %>
</div>

<div class="tab-content" id="tab3">
	<div class="row">
		<% @follower_users.each do |user| %>
			<div class="col-md-10 offset-md-1 user-index-box user-<%= user.id %>">
				<%= render "users/user_index", user: user %>
			</div>
		<% end %>
	</div>
	<%= render "layouts/pagination", data: @follower_users %>
</div>

<div class="tab-content" id="tab4">
	<div class="row">
		<% @favorited_posts.each do |post| %>
			<div class="col-md-10 offset-md-1 post-index-box post-<%= post.id %>">
				<%= render "posts/post_detail", post: post %>
			</div>
		<% end %>
	</div>
	<%= render "layouts/pagination", data: @favorited_posts %>
</div>

