<div class="row">
	<div class="col-md-8 offset-md-2">
		<%= form_for(post) do |f| %>
		<div class="row">
			<h6 class="form-title col-md-2 offset-md-1">ヒトコト</h6>
			<%= f.text_area :content, size: "40x7" ,class: "form-field col-md-8" %>
		</div>

		<div class="row">
			<h6 class="form-title col-md-2 offset-md-1">タグ</h6>
		</div>

		<div class="row">
			<h6 class="form-title col-md-2 offset-md-1">写真</h6>
			<%= f.attachment_field :image, class: "form-field col-md-8", id: "post-image" %>
		</div>

		<div class="row">
			<% if post.image_id == nil %>
				<%= image_tag "", size: "500x350", class: "form-field prev-noimage offset-md-2", id: "preview-noimage" %>
			<% else %>
			  <%= attachment_image_tag post, :image, size: "500x350", class: "form-field prev-image offset-md-2", id: "preview-image" %>
			<% end %>
		</div>

		<div class="row">
			<%= f.submit "投稿する", class: "btn btn-info col-md-5 offset-md-4" %>
		</div>
		<% end %>
	</div>
</div>
