<div class="row">
	<div class="col-md-8 offset-md-2">
		<%= form_for(post) do |f| %>
		<%= render 'layouts/error_messages', model: f.object %>
		<div class="row">
      <%= f.label :content, class: "form-title col-md-2" %>
			<% if @task != nil %>
				<%= f.text_area :content, size: "40x7", value: "【#{@task.content}】#{l @task.time_limit, format: :short} #{@tag_name}", autofocus: true, class: "form-field col-md-8" %>
			<% elsif @tag_name != nil %>
				<%= f.text_area :content, size: "40x7", value: @tag_name, autofocus: true, class: "form-field col-md-8" %>
			<% else %>
				<%= f.text_area :content, size: "40x7", autofocus: true, class: "form-field col-md-8" %>
			<% end %>
		</div>

		<div class="row">
      <%= f.label :image, class: "form-title col-md-2" %>
			<%= f.attachment_field :image, class: "form-field ml-3", id: "post-image" %>
		</div>

		<div class="row">
			<% if post.image_id == nil %>
				<%= image_tag "", size: "500x350", class: "form-field prev-noimage offset-md-2", id: "preview-noimage" %>
			<% else %>
			  <%= attachment_image_tag post, :image, size: "500x350", class: "form-field prev-image offset-md-2", id: "preview-image" %>
			<% end %>
		</div>

		<div class="row">
			<%= f.submit "投稿する", class: "btn btn-info col-md-6 offset-md-3" %>
		</div>
		<% end %>
	</div>
</div>
