<%= render "layouts/timer" %>

<div class="row">
	<div class="col-md-10 offset-md-1">
		<div class="row">
			<h3 class="index-page-title col-md-9">#<%= @tag.name %> を含むヒトコト一覧（<%= @posts.count %>件）</h3>
			<% if user_signed_in? %>
				<%= link_to "このタグで新規投稿", new_post_path(tag_name: @tag.name), class: "col-md-3 mb-3 btn btn-primary" %>
			<% else %>
				<%= link_to "このタグで新規投稿", new_user_session_path, class: "col-md-3 mb-3 btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>

<div class="row">
	<% @posts.each do |post| %>
	<div class="col-md-10 offset-md-1 post-index-box post-<%= post.id %>">
		<%= render "posts/post_detail", post: post %>
	</div>
	<% end %>
</div>
<%= render "layouts/pagination", data: @posts %>