<%= render "layouts/timer" %>

<div class="row">
	<div class="col-md-10 offset-md-1">
		<h3 class="index-page-title">一覧</h3>
	</div>
</div>

<div class="row">
	<% @posts.each do |post| %>
	<div class="col-md-10 offset-md-1 post-index-box">
		<div class="row">
			<div class="col-md-1">
				<%= link_to user_path(post.user) do %>
					<%= attachment_image_tag(post.user, :profile_image, size: "60x60", fallback: "noimage.png", class: "user-icon") %>
				<% end %>
			</div>
			<div class="col-md-11">
				<div class="row">
					<div class="col-md-11">
						<%= link_to post.user.name, user_path(post.user), class: "link-to-black" %>
					</div>
				</div>
				<%= link_to post_path(post), class: "post-link" do %>
				<div class="row post-content-box">
					<div class="col-md-12"><%= post.content %></div>
					<div class="col-md-6 offset-md-2">
						<%= attachment_image_tag(post, :image, size: "350x200", class: "post-image-field") %>
					</div>
				</div>
				<% end %>
			</div>
		</div>
		<div class="row">
		</div>
		<div class="row">
			<div class="col-md-1 offset-6">
				<%= render "favorites/favorite", post: post %>
			</div>
			<div class="col-md-1">
				<%= link_to post_path(post) do %>
					<i class="far fa-comment-alt" aria-hidden="true" style="color:black"></i>
				<% end %>
				<%= post.post_comments.count %>
			</div>
			<div class="col-md-4">
				<%= l post.created_at %>
			</div>
		</div>
	</div>
	<% end %>
</div>