<%= render "layouts/timer" %>

<div class="row">
	<div class="col-md-10 offset-md-1">
		<% if @search_word %>
			<h3 class="index-page-title"><%= @search_word %> を含むヒトコト（<%= @posts.count %>件）</h3>
		<% else %>
			<h3 class="index-page-title">みんなのヒトコト</h3>
		<% end %>
	</div>
</div>

<div class="row">
	<% @posts.each do |post| %>
	<div class="col-md-10 offset-md-1 post-index-box post-<%= post.id %>">
		<%= render "posts/post_detail", post: post %>
	</div>
	<% end %>
</div>
<%= render "layouts/pagination", data: @posts %>