<nav class="navbar navbar-dark bg-dark navbar-expand-md stickey-top">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
     <%= image_tag "logo.png", size: "180x50" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu1" aria-controls="navmenu1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu1">
      <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to root_path, class: "nav-link active" do %>
            <span class="fas fa-home"></span>トップ
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to user_routines_path(current_user), class: "nav-link active" do %>
            <span class="fas fa-clock"></span>行動
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to search_path, class: "nav-link active" do %>
            <span class="fas fa-search"></span>探す
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to notifications_path, class: "nav-link active" do %>
            <% if unchecked_notifications.any? %>
              <span class="fas fa-bell" style="color:#efa04c;"></span>通知
            <% else %>
              <span class="fas fa-bell"></span>通知            
            <% end %>
          <% end %>
        </li>
        <li class="nav-image">
          <%= link_to user_path(current_user), class: "nav-link", id: "mypage" do %>
            <%= image_tag "noimage_white.png", size: "30x30" %>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to root_path, class: "nav-link active" do %>
            <span class="fas fa-home "></span>ホーム
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to home_about_path, class: "nav-link active" do %>
            <span class="fas fa-question-circle"></span>概要
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_registration_path, class: "nav-link active" do %>
            <span class="fas fa-user-plus"></span>新規登録
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: "nav-link active" do %>
            <span class="fas fa-sign-in-alt"></span>ログイン
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>
